JIRA_URL="https://issues.redhat.com"
API_KEY="api_key"
PROJECT_KEY="CNV"
BOARD_NAME="CNV Install, Upgrade & Operators Board"
SPRINT_PREFIX="CNV I/U Operators Sprint"
NUMBER_OF_SPRINTS_TO_ANALYZE=6
ASSIGNEE_EMAIL_ADDRESS="email@redhat.com"
